@media screen and (max-width: 800px) {

    .container {
        max-width: none;
    }

    body,
    html {
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .header__container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav {
        gap: 1rem;
        margin-bottom: 20px;
    }

    .download-button {
        margin-left: 0;
        margin-top: 10px;
    }



    .bottomtext {
        margin-top: 0;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
    }



}

@media screen and (max-width: 580px) {

    .footer__wrapper {
        flex-direction: column;

        gap: 1rem;
    }

    .topText h2 {
        font-size: 40px;
        font-weight: 600;
        margin-top: 80px;
    }

    .hero__topText-left {
        padding-right: 0;
    }

    .hero__topText-right {
        padding-left: 5px;
    }


    .cta__text {
        font-size: 35px;
        font-weight: 700;
        align-self: center;
    }
}