:root {
    --primary-color: #04ddb2;
    --secondary-color: #767676;
    --background-color: #fff;
    --text-color: #333;
}

body,
html {
    background: var(--background-color);
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    margin-right: 20px;
    margin-left: 20px;
}

.header {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: var(--background-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.nav {
    display: flex;
    gap: 3rem;
}

.nav__link {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

.download-button {
    border-radius: 250px;
    font-size: large;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    margin-left: 17px;
    padding: 12px 20px 12px 20px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
}

.header__text {
    font-size: 18px;
}

.hero {
    align-items: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topText {
    display: flex;
    font-size: 60px;
    font-weight: bolder;
}

.hero__topText-left {
    padding-right: 10px;
    margin-bottom: 8px !important;
}

.hero__topText-right {
    padding-left: 10px;
    color: var(--primary-color);
    margin-bottom: 8px !important;

}

.bottomtext {
    color: var(--secondary-color);
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 1px;
}

.video {

    margin-top: 80px;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.videoContainer img {
    width: 100%;
    max-width: 1100px;
    height: auto;
    border-radius: 30px;
    margin: 30px;
    transition: all 0.15s ease;
}

.videoContainer img:hover {

    transform: translateY(5px) scale(1.02);
    box-shadow:
        -10px 0 20px -10px rgba(2, 4, 69, .08),
        10px 0 20px -10px rgba(2, 4, 69, .08),
        0 10px 20px 0 rgba(2, 4, 69, .08);
}

.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta__text {
    display: flex;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.cta-button {
    margin-bottom: 50px;
    padding: 18 45 18 45;
    font-size: 20;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;

}


.footer__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer__column a {
    text-decoration: none;
    color: #6c757d;
    font-size: 12px;
    line-height: 2;
    font-weight: 700;

}

.footer__column-nonText {
    margin-top: 15px;
}

.footer__column-title {
    margin-bottom: 1rem;
}

.footer__column-socials {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.footer__column-socials i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00d9a3;
    /* Green/teal background */
    color: #fff;
    /* White icon */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}